p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

ul {
  margin: 0px;
  padding-left: 0px;
}

:root {
  --primary-color: #ffffff;
  --second-color: #757575;
  --accent-color: #2196f3;
  --text-color: #212121;
  --fone-color: #2f303a;
}

.form__wrapper-checkbox, .form__check-label, .form__close-button, .soc-link, .clients__link, .clients__item, .team-soc-link, .team-soc-list, .box__list, .about__icon, .header__nav {
  display: flex;
  align-items: center;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

img {
  display: block;
}

button {
  cursor: pointer;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-color);
}

section {
  padding-top: 94px;
  padding-bottom: 94px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

a.active {
  color: var(--accent-color);
  position: relative;
}
a.active::after {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 300ms linear, visibility 300ms linear;
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

header {
  border-bottom: 1px solid #ececec;
  position: relative;
}

.header__nav {
  justify-content: space-between;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .header__nav {
    justify-content: flex-start;
  }
}

.logo {
  display: block;
}

.logo-color {
  color: #212121;
}

.menu-btn {
  display: inline-flex;
  margin: 0;
  padding: 12px 8px;
  border: none;
  background-color: transparent;
  margin-top: 10px;
  margin-bottom: 10px;
  z-index: 2;
}
.menu-btn__close, .menu-btn__menu {
  fill: var(--text-color);
  transition-property: fill;
  transition-duration: 250ms;
}
.menu-btn__menu:hover,
.menu-btn :focus {
  fill: var(--accent-color);
}
.menu-btn__close:hover,
.menu-btn :focus {
  fill: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}

.menu-btn .menu-btn__close {
  display: none;
}

.menu-btn.is-open .menu-btn__close {
  display: block;
}

.menu-btn.is-open .menu-btn__menu {
  display: none;
}

.menu-container {
  background-color: #FFFFFF;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 40px;
  outline: 1px solid tomato;
}
@media screen and (max-width: 767px) {
  .menu-container {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  .menu-container.is-open {
    display: block;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    z-index: 1;
  }
}
@media screen and (min-width: 768px) {
  .menu-container {
    display: flex;
    align-items: center;
    padding: 0;
  }
}

.navigation,
.contacts {
  width: 100%;
}

.site-nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .site-nav__list {
    display: flex;
    padding-bottom: 0;
    margin-left: 88px;
    margin-right: 90px;
  }
}
@media screen and (min-width: 1200px) {
  .site-nav__list {
    margin-left: 93px;
    margin-right: 305px;
  }
}

.site-nav__item {
  margin-bottom: 32px;
}
.site-nav__item:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .site-nav__item {
    margin-bottom: 0;
    margin-right: 53px;
  }
  .site-nav__item:last-child {
    margin-right: 0;
  }
}

.site-nav__link {
  display: block;
  text-align: start;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav__link:hover, .site-nav__link:focus {
  color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .site-nav__link {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 1.14;
  }
}

.contacts__header {
  list-style: none;
  padding: 0;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .contacts__header {
    display: flex;
    flex-direction: column-reverse;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__header {
    flex-direction: row;
  }
}

.contacts__item {
  margin-bottom: 32px;
}
.contacts__item:last-child {
  margin-bottom: 64px;
}
@media screen and (min-width: 768px) {
  .contacts__item {
    display: flex;
    margin-bottom: 0px;
  }
  .contacts__item:last-child {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__item:last-child {
    margin-bottom: 0px;
  }
}

.contact__link--tel {
  text-decoration: none;
  color: var(--accent-color);
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 768px) {
  .contact__link--tel {
    display: flex;
    align-items: center;
    color: var(--text-color);
    font-size: 12px;
    line-height: 1.17;
  }
}
@media screen and (min-width: 1200px) {
  .contact__link--tel {
    margin-right: 40px;
    font-size: 14px;
    line-height: 1.14;
    transition-property: fill;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contact__link--tel:hover, .contact__link--tel:focus {
    color: var(--accent-color);
    fill: var(--accent-color);
  }
}

.contact__link--mail {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 768px) {
  .contact__link--mail {
    display: flex;
    align-items: center;
    color: var(--text-color);
    font-size: 12px;
    line-height: 1.17;
  }
}
@media screen and (min-width: 1200px) {
  .contact__link--mail {
    font-size: 14px;
    line-height: 1.14;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contact__link--mail:hover, .contact__link--mail:focus {
    color: var(--accent-color);
    fill: var(--accent-color);
  }
}

@media screen and (max-width: 767px) {
  .contact__icon {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .contact__icon {
    margin-right: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .contact__icon {
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: #c4c4c4;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
  background-position: center;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  margin-bottom: 40px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-color);
}

.hero-btn {
  display: inline-block;
  padding: 10px 24px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  letter-spacing: 0.06em;
  color: var(--primary-color);
  background-color: var(--accent-color);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn:hover, .hero-btn:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.about {
  padding-top: 60px;
  padding-bottom: 60px;
}

.about__pretitle {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.about__list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -30px;
  margin-left: -30px;
}

.about__item {
  width: 100%;
  margin-left: 30px;
}
.about__item:not(:last-child) {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .about__item {
    width: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .about__item {
    width: calc((100% - 120px) / 4);
  }
}

.about__icon {
  justify-content: center;
  height: 120px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  border-radius: 4px;
}

.about__title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--text-color);
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .about__title {
    text-align: left;
  }
}

.about__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-color);
}

.box {
  display: none;
}
@media screen and (min-width: 1200px) {
  .box {
    display: block;
  }
}

.box__list {
  gap: 30px;
}

.box__title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin-bottom: 50px;
}

.box__img {
  position: relative;
}

.box__label {
  position: absolute;
  bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f5f4fa;
}

.team-title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
@media screen and (min-width: 1200px) {
  .team-title {
    font-size: 36px;
    line-height: 1.16;
  }
}

.list-team {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}

.list-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.item-team {
  margin-left: 30px;
  width: 100%;
}
.item-team:not(:last-child) {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .item-team {
    width: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .item-team {
    width: calc((100% - 120px) / 4);
  }
}

.team-info {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-name {
  text-align: center;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.position {
  text-align: center;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--second-color);
}

.team-soc-list {
  justify-content: center;
}

.team-soc-items {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.team-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  justify-content: center;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-soc-link:hover, .team-soc-link:focus {
  background-color: #2196f3;
  color: var(--primary-color);
}

.team-soc-icon {
  fill: currentColor;
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients__title {
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
@media screen and (min-width: 1200px) {
  .clients__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
  }
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: -30px;
}

.clients__item {
  width: calc((100% - 30px) / 2);
  height: auto;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .clients__item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    width: calc((100% - 150px) / 6);
  }
}

.clients__logo {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link {
  padding-top: 16px;
  padding-bottom: 16px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  border-color: var(--accent-color);
}
.clients__link:hover .clients-logo, .clients__link:focus .clients-logo {
  fill: var(--accent-color);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--fone-color);
}

@media screen and (min-width: 768px) {
  .footer .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .footer .container {
    display: flex;
    align-items: baseline;
  }
}

.logo-color {
  color: var(--accent-color);
}

.weblogo {
  margin-bottom: 20px;
  text-align: center;
}

.address-nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 231px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .address-nav__list {
    margin-right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .address-nav__list {
    margin: 0;
  }
}

.address-nav__item {
  margin-bottom: 9px;
  text-align: center;
}
.address-nav__item:nth-last-child(1) {
  margin-bottom: 0;
}
@media screen and (min-width: 1200px) {
  .address-nav__item {
    text-align: start;
  }
}

.address-nav__link--map {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-nav__link--map:hover, .address-nav__link--map:focus {
  color: var(--accent-color);
}

.address-nav__link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-nav__link:hover, .address-nav__link:focus {
  color: var(--accent-color);
}

.socials {
  margin-bottom: 60px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .socials {
    margin-bottom: 0;
    margin-top: 5px;
  }
}
@media screen and (min-width: 1200px) {
  .socials {
    margin-left: 70px;
    margin-bottom: 0;
    text-align: start;
  }
}

.socials__title {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-color);
}

.socials__list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.soc-items {
  width: 44px;
  height: 44px;
}
.soc-items:not(:last-child) {
  margin-right: 10px;
}

.soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  justify-content: center;
  color: var(--primary-color);
  background-color: rgba(255, 255, 255, 0.1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.soc-link:hover, .soc-link:focus {
  background-color: #2196f3;
  color: var(--primary-color);
}

.soc-icon {
  fill: currentColor;
}

/* ---------FOOTER-FORM--------- */
@media screen and (min-width: 768px) {
  .footer-form {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-form {
    flex-direction: row;
    width: 570px;
    margin-left: 93px;
    margin-right: 0;
    align-items: flex-end;
  }
}

.footer-form__field {
  width: 100%;
  background-color: #2f303a;
}
@media screen and (min-width: 1200px) {
  .footer-form__field {
    display: flex;
    flex-direction: column;
    width: 358px;
  }
}

.footer-form__label {
  display: block;
  text-align: center;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .footer-form__label {
    text-align: start;
  }
}

.footer-form__input {
  display: block;
  align-items: center;
  justify-content: center;
  color: var(--primary-color);
  margin-bottom: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  padding-right: 0;
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2f303a;
}
.footer-form__input::-moz-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-form__input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-form__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-form__input:focus, .footer-form__input:hover {
  outline: transparent;
}
@media screen and (min-width: 1200px) {
  .footer-form__input {
    margin-bottom: 0;
  }
}

.footer-form__button {
  display: flex;
  align-items: center;
  text-align: center;
  padding-left: 31px;
  margin-left: auto;
  margin-right: auto;
  min-width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .footer-form__button {
    margin-left: 12px;
  }
}

.footer-form__button--icon {
  margin-left: 10px;
}

.form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 581px;
  padding: 40px;
  background-color: var(--primary-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 300ms linear;
}

.backdrop.is-hidden .form {
  transform: translate(-50%, -50%) scaleY(0);
}

.form__close-button {
  position: absolute;
  justify-content: center;
  height: 30px;
  width: 30px;
  top: 8px;
  right: 8px;
  background-color: var(--primary-color);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: fill 250ms linear cubic-bezier(0.4, 0, 0.2, 1);
}
.form__close-button:hover {
  fill: #2196f3;
}

.form__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.form__input {
  padding-left: 42px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms linear cubic-bezier(0.4, 0, 0.2, 1);
}
.form__input:focus, .form__input:hover {
  border-color: #2196f3;
  outline: transparent;
}
.form__input:focus + svg, .form__input:hover + svg {
  fill: #2196f3;
}

.form__input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms linear cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input-wrapper {
  position: relative;
}

.form__input-group {
  margin-bottom: 10px;
}

.form__input-group .modal-text {
  margin-bottom: 10px;
}

.form__comment-text {
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
}
.form__comment-text::-moz-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__comment-text:-ms-input-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__comment-text::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__comment-text:focus, .form__comment-text:hover {
  border-color: #2196f3;
  outline: transparent;
}

.form__input-group label {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.form__check {
  margin-bottom: 30px;
  padding-left: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
}

.form__checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
}
.form__checkbox:checked + span {
  border: none;
  background-color: #2196f3;
}
.form__checkbox:checked + span svg {
  fill: #ffffff;
  background-size: contain;
  background-origin: border-box;
}

.form__wrapper-checkbox {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  justify-content: center;
  margin-right: 9px;
}

.form__check-icon {
  fill: transparent;
  background-origin: border-box;
}

.form__link-agreement {
  color: #2196f3;
  text-decoration: underline;
}

.form__submit-btn {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: transparent;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.portfolio-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-list .item + .item {
  margin-left: 8px;
}

.filter-btn {
  display: inline-block;
  padding: 6px 22px;
  border-color: transparent;
  border-radius: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
  background: #f5f4fa;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-btn:hover, .filter-btn:focus {
  color: var(--primary-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
}

.projects-item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.projects-item:hover, .projects-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-item:nth-child(3n) {
  margin-right: 0;
}

.projects-item:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.projects-item:hover .project-overlay {
  transform: translateY(0);
}

.project-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.thumb-project {
  position: relative;
  overflow: hidden;
}

.text-overlay {
  padding: 63px 24px;
  color: var(--primary-color);
  font-family: "Roboto";
  font-style: normal;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
}

.project-info {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.name-project {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--text-color);
}

.about-project {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--second-color);
}/*# sourceMappingURL=main.css.map */