:root {
  --primary-color: #ffffff;
  --second-color: #757575;
  --accent-color: #2196f3;
  --text-color: #212121;
  --fone-color: #2f303a;
}

img {
  display: block;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

ul {
  margin: 0px;
  padding-left: 0px;
}

button {
  cursor: pointer;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-color);
}

.container {
  width: 1200px;
  padding: 0px 15px;
  margin: 0 auto;
}

section {
  padding-top: 94px;
  padding-bottom: 94px;
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}

a.active {
  color: var(--accent-color);
  position: relative;
}

a.active::after {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;

  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.header-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

/* ---------HEADER--------- */

header {
  border-bottom: 1px solid #ececec;
}

.main-header {
  display: flex;
  align-items: center;
}

.logo {
  display: block;
}
.logo-color {
  color: var(--text-color);
}
.header-list {
  display: flex;
  margin-left: 93px;
}

.header-list .item + .item {
  margin-left: 50px;
}

.header-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.header-contacts {
  display: flex;
  gap: 50px;
  list-style: none;
  align-items: center;
  margin-left: auto;
}

.header-contacts .item,
.item-contacts {
  margin-left: 40px;
}

.item-contacts {
  display: flex;
  align-items: center;
}

.contact-link {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  color: var(--second-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}

.contact-icon {
  margin-right: 10px;
  fill: currentColor;
}

/* ---------HERO--------- */

.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;

  background-color: #c4c4c4;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero.jpg);

  background-position: center;

  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  margin-bottom: 40px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--primary-color);
}

.hero-btn {
  display: inline-block;
  padding: 10px 24px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  font-weight: 700;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  letter-spacing: 0.06em;

  color: var(--primary-color);
  background-color: var(--accent-color);

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* ---------ABOUT--------- */

.about {
  padding-bottom: 0px;
}

.about-pretitle {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.about-list {
  display: flex;
  align-items: flex-start;
}

.about-list > .item {
  width: 270px;
}

.about-list > .item + .item {
  margin-left: 30px;
}

.about-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  background-color: #f5f4fa;
  margin-bottom: 30px;
  border-radius: 4px;
}

.about-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-color);

  margin-bottom: 10px;
}
.about-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-color);
}

/* ---------BOX--------- */

.box-list {
  display: flex;
  align-items: center;
  gap: 30px;
}

.box-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);

  margin-bottom: 50px;
}

.img-box {
  position: relative;
}

.label {
  position: absolute;
  bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;

  color: var(--primary-color);
  background-color: rgba(47, 48, 58, 0.8);
}

/* ---------TEAM--------- */

.team {
  background-color: #f5f4fa;
}

.team-title {
  margin-bottom: 50px;
}

.list-team {
  display: flex;
  gap: 30px;
}

.list-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list-title,
.team-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.team-info {
  padding-top: 30px;
  padding-bottom: 30px;

  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  border-radius: 0px 0px 4px 4px;
}

.team-name {
  text-align: center;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.position {
  text-align: center;
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--second-color);
}

.team-soc-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.team-soc-items {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.team-soc-link {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  color: #afb1b8;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc-link:hover,
.team-soc-link:focus {
  background-color: #2196f3;
  color: var(--primary-color);
}

.team-soc-icon {
  fill: currentColor;
}

/* ---------CLIENTS--------- */

.clients-title {
  margin-bottom: 50px;

  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.clients-list {
  display: flex;
}

.clients-item {
  width: 170px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clients-item:not(:last-child) {
  margin-right: 30px;
}

.clients-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-logo {
  fill: #afb1b8;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover,
.clients-link:focus {
  border-color: var(--accent-color);
}

.clients-link:hover .clients-logo {
  fill: var(--accent-color);
}

.clients-link:focus .clients-logo {
  fill: var(--accent-color);
}

/* ---------FOOTER--------- */

.footer > .container {
  display: flex;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--fone-color);
}

.weblogo {
  margin-bottom: 20px;
}

.footer .logo-color {
  color: var(--primary-color);
}

.footer-contacts > .item {
  margin-bottom: 9px;
}

.footer-address {
  padding-right: 70px;
}

.address {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-text {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address:hover,
.address:focus {
  color: var(--accent-color);
}

.footer-text:hover,
.footer-text:focus {
  color: var(--accent-color);
}

.soc-links {
  display: flex;
}

.soc-title {
  padding-top: 12px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-color);
}

.soc-items {
  width: 44px;
  height: 44px;
}

.soc-items:not(:last-child) {
  margin-right: 10px;
}

.soc-link {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
  background-color: rgba(255, 255, 255, 0.1);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.soc-link:hover,
.soc-link:focus {
  background-color: #2196f3;
  color: var(--primary-color);
}

.soc-icon {
  fill: currentColor;
}

/* ---------FOOTER-FORM--------- */
.footer-subscribe{
     margin-left: auto;
    
}

.subscribe-title {
    margin-bottom: 20px;
    padding-top: 12px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}

.footer-input {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-color);
}

.subscribe {
  margin-left: 12px;
  display: inline-flex;
  align-items: center;
  text-align: center;
  padding-left: 28px;
  width: 200px;
  height: 50px;

  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;

  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.icon-subscribe {
  margin-left: 10px;
}

.footer-input {
  padding-left: 16px;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2f303a;
}

.footer-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.footer-input:focus,
.footer-input:hover {
  outline: transparent;
}

/* ---------MODAL--------- */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  transition: opacity 300ms linear, visibility 300ms linear;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  width: 528px;
  height: 581px;

  padding: 40px;

  background-color: var(--primary-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: transform 300ms linear;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scaleY(0);
}

.close-modal {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  top: 8px;
  right: 8px;

  background-color: var(--primary-color);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);

  transition: fill 250ms linear cubic-bezier(0.4, 0, 0.2, 1);
}

.close-modal:hover {
  fill: #2196f3;
}

.modal-title {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.modal-input {
  padding-left: 42px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border-color 250ms linear cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus,
.modal-input:hover {
  border-color: #2196f3;
  outline: transparent;
}

.modal-input:focus + svg,
.modal-input:hover + svg {
  fill: #2196f3;
}

.modal-input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);

  transition: fill 250ms linear cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-wrapper {
  position: relative;
}

.modal-input-group {
  margin-bottom: 10px;
}

.modal-input-group .modal-text {
  margin-bottom: 10px;
}

.modal-input-group label {
  display: block;
  margin-bottom: 4px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: #757575;
}

.modal-text {
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
}

.modal-text::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.modal-text:focus,
.modal-text:hover {
  border-color: #2196f3;
  outline: transparent;
}

.agreement {
  display: flex;
  align-items: center;
}

.modal-check1 {
  display: flex;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  align-items: center;
  justify-content: center;
  margin-right: 9px;
}

.modal-input-icon1 {
  fill: transparent;
  background-origin: border-box;
}

.agreement-checkbox {
  appearance: none;
  position: absolute;
}

.agreement-checkbox:checked + span {
  border: none;
  background-color: #2196f3;
}

.agreement-checkbox:checked + span svg {
  fill: #ffffff;
  background-size: contain;
  background-origin: border-box;
}

.modal-check {
  margin-bottom: 30px;
  padding-left: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
}

.link-modal {
  color: #2196f3;
  text-decoration: underline;
}

.submit {
  display: block;
  margin: 0 auto;

  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: transparent;
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;

  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;

  cursor: pointer;
}

/* ---------PORTFOLIO--------- */

.portfolio-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-list .item + .item {
  margin-left: 8px;
}

.filter-btn {
  display: inline-block;
  padding: 6px 22px;
  border-color: transparent;
  border-radius: 4px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
  background: #f5f4fa;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-btn:hover,
.filter-btn:focus {
  color: var(--primary-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
}

.projects-item {
  width: 370px;

  margin-right: 30px;
  margin-bottom: 30px;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-item:nth-child(3n) {
  margin-right: 0;
}

.projects-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.projects-item:hover,
.projects-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.thumb-project {
  position: relative;
  overflow: hidden;
}

.project-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);

  opacity: 0;

  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-overlay {
  opacity: 1;
}

.projects-item:hover .project-overlay {
  transform: translateY(0);
}

.text-overlay {
  padding: 63px 24px;
  color: var(--primary-color);
  font-family: "Roboto";
  font-style: normal;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
}

.project-info {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.name-project {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--text-color);
}

.about-project {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--second-color);
}
