img {
    display: block;
  }
  
  button {
    cursor: pointer;
  }
  
  body {
    font-family: "Roboto", sans-serif;
    color: var(--primary-color);
  }
  
  
  section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  
  a {
    text-decoration: none;
  }
  
  li {
    list-style: none;
  }

  

   
 
  