
  .about {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  
  .about__pretitle {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
  
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  
  .about__list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -30px;
    margin-left: -30px;

  }
  
  .about__item {
    width: 100%;
    margin-left: 30px;
    
    &:not(:last-child) {
      margin-bottom: 30px;
    }
    

    @media screen and (min-width: 768px) {
      width: calc((100% - 60px) / 2);
    }

    @media screen and (min-width: 1200px) {
      width: calc((100% - 120px) / 4);
    }
   
  }
  
  
  .about__icon {
    @extend %flex-align;
    justify-content: center;
   
    height: 120px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  
    background-color: #f5f4fa;
    margin-bottom: 30px;
    border-radius: 4px;
  }
  
  .about__title {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;

    color: var(--text-color);
  
    margin-bottom: 10px;

    @media screen and (min-width: 768px) {
      text-align: left;
    }
  }
  .about__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--second-color);
  }